body {
    zoom: 105%;
}

.list-group-item:hover {
    background-color: #e4e5e6;
}

.clickable {
    cursor: pointer;
}

#typing-area {
    margin-top: 3%;
}

#url {
    width: 350px;
    text-align: center;
}

.received-message {
    text-align: left;
}

.active {
    background-color: blue;
    color: white;
}

td a {
    color: #0469de;
}

td a:hover {
    cursor: pointer;
}

td {
    white-space: normal !important;
}

.top-pane {
    height: 35%;
    border-bottom: 1px solid gray;
}

.no-user h3{
    text-align: center;
    color: gray;
}

#outer-box{
    position: relative;
    display: block;
}

#inner-box{
    background: black;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    opacity: 0.75;
    -webkit-transition: opacity 2s;
}

#inner-box h2 {
    color: white;
    text-align: center;
}
